* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.title {
  background-color: coral;
  padding: 40px;
}

.flex-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-left: 1066px;
  padding-top: 40px;
}
.flex-item {
  background-color: lightgrey;
  border: 1px solid;
  padding: 20px;
}
.flex-item-item-1 {
  background-color: coral;
  padding: 20px;
  color: white;
  flex: 1;
}
.para {
  padding: 10px;
  width: 600px;
  margin-top: -300px;
}
.Heading-1 {
  display: inline;
}
.Heading-2 {
  display: inline;
  margin: 30px;
}
.Heading-3 {
  display: inline;
  margin: 30px;
}
.div-head {
  background-color: lightgrey;
}
a {
  text-decoration: none;
  color: black;
}
